@charset "UTF-8";
@import url(reset.css);

/* footer */
#footer {
    margin-top: 800px;
    background: #fff;
    position: relative;
    padding: 32px 0;
    color: #787878;
}
#footer a {
    color: #787878;
}
#footer li {
    font-size: 0.75rem;
}
#footer .inner {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* padding: 16px; */
    /* background: #555; */
}
#footer .footer_bottom {
    margin-top: 70px;
}
#footer .service a {
    padding-right: 16px;
}
#footer .service a:not(:last-of-type) {
    border-right: 1px solid #787878;
}
#footer .service a:not(:first-of-type) {
    padding-left: 16px;
}
#footer .info {
    font-size: 0.875rem;
}
#footer .call_box, .bank_box {
    background: #E83828;
    border-radius: 25px;
    width: 400px;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
}
#footer .bank_time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 80px;
}

#footer .call_box {
    height: 105px;
}
#footer .call_box li {
    text-align: left;
}
#footer .bank_box {
    border-radius: 20px;
    height: 70px;
}
#footer .call_center, .bank_info {
    display: flex;
    justify-content: space-between;
}
#footer ul {
    text-align: right;
}
#footer img {
    width: 220px;
}
