@charset "utf-8";

/* typo */
footer {
    /* 함수(인자) */
    /* function(argument) */
    color: var(--gray5);
}
footer a {
    color: var(--white-color);
}
footer .inquiry h2 {
    color: var(--gray3);
    font-size: 50px;
}
footer .inquiry .tel-area p {
    font-size: 26px;
    font-weight: 100;
}
footer .inquiry .tel-area a {
    color: var(--gray3);
    font-size: 50px;
    font-weight: 700;
}
footer .inquiry .con-btn a {
    font-size: 20px;
}

/* inquiry: 문의 */
footer .inquiry {
    /* 콘텐츠 높이: 110px */
    height: 426px;
    padding-top: 120px;
    /* 배경 이미지 높이: 196px */
    background: #fff url(./../../basic/assets/imgs/footer_img.png) no-repeat 0 100%;
}
footer .inquiry .inner {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: auto;
}
footer .inquiry .con-area {
    display: flex;
    justify-content: space-between;
    width: 960px;
}
footer .inquiry .faq-btn {
    background: #54A922;
    display: inline-block;
    width: 275px;
    text-align: center;
    /* padding: 35px 48px; */
    padding: 35px 0;
    margin-right: 12px;
}
footer .inquiry .faq-btn span {
    /* background: 색 url() 반복여부 x위치 y위치/크기; */
    background: url(./../../basic/assets/imgs/icon_main_inquiry_01.png) no-repeat 0 0/contain;
    padding-left: 67px;
}
footer .inquiry .consult-btn {
    background: #7b7b7b;
    display: inline-block;
    width: 275px;
    text-align: center;
    /* padding: 35px 78px; */
    padding: 35px 0;
}
footer .inquiry .consult-btn span {
    background: url(./../../basic/assets/imgs/icon_main_inquiry_02.png) no-repeat;
    background-size: contain;
    padding-left: 57px;
}
/* info: 정보 */
footer .info {
    background: #222 url(./../../basic/assets/imgs/logo.png) no-repeat 80px 70px;
    /* 기본값: background-origin: padding-box; */
    /* background-origin: content-box; */
    /* 시작 부분 정하는 거 */
    padding: 50px 250px;
}
footer .info .inner {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
}
footer .util-box {
    display: flex;
}
footer .left-info ul {
    display: flex;
}
footer .sns li:nth-of-type(1) img, footer .sns li:nth-of-type(2) img {
    width: 29px;
    height: 20px;
}
footer .sns li:nth-of-type(3) img {
    width: 23px;
    height: 24px;
}
footer .sns li:nth-of-type(4) img {
    width: 28px;
    height: 25px;
}