@charset "utf-8";
/* 폰트어썸 라이브러리 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);

/* 초기화 */
* {
    box-sizing: border-box;
}

body,
h1, h2, h3,
ul, li, i {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

/* https://sitero.co.kr/fontsize */
body {
    font: 0.9375rem/1.6 "NanumBarunGothic", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    vertical-align: middle;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}
input {
    background: transparent;
    border: none;
    /* input이 focus를 가질 경우 생기는 테두리 */
    outline: none;
    color: #fff;
}