@import url(reset.css);
@charset "utf-8";
/* 폰트어썸 라이브러리 */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);

/* 초기화(reset) */
* {
    box-sizing: border-box;
}

body, div,
h1, h2, h3, p, span,
ul, li, i, img {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body {
    font: 0.9375rem/1.6 "NanumBarunGothic", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    vertical-align: middle;
    object-fit: cover;
}
input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}

html, body {
    scroll-behavior: smooth;
    font-family: "Pretendard";
}
body {
    background: #FFF3F1;
}
#section1 {
    display: flex;
    background-attachment: fixed;
    background: url("../images/visual-06.png") 50% 50%/cover no-repeat;
}
.section {
    width: 100vw;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
}
#section1 .logo {
    position: absolute;
    top: 25%;
}
#section1 .logo_img {
    filter: drop-shadow(0px 5px 10px #fff);
}

/* section2 */
#section2 {
    max-width: 1520px;
    margin: 0 auto;
    display: block;
    justify-content: space-evenly;
}
/* #section2 .text {
    white-space: pre-wrap;
    font-size: 2rem;
    text-align: left;
    padding: 90px 60px;
    color: #333;
}
#section2 .t1 {
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 150px;
}
#section2 .t1 span {
    color: #E83828;
    font-size: 5rem;
}
#section2 .t2 {
    text-align: right;
}
#section2 .t2 span {
    color: #333;
    font-size: 4rem;
    font-weight: 700;
} */
#section2 .sns {
    text-align: right;
}
#section2 .sns img {
    text-align: right;
    margin: 0 0 20px 20px;
}
#section2 .youtube {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#section2 .youtube .left,
#section2 .youtube .right {
    width: 730px;
    height: 516px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .3);
}
#section2 .youtube .title {
    display: flex;
    align-items: center;
    margin: 30px;
}
#section2 .youtube .title h2 {
    margin-left: 10px;
}
#section2 .youtube .left iframe {
    position: absolute;
    top: 100px;
    left: 28px;
    border-radius: 20px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .1);
}
#section3 {
    background: #FFF3F1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section3 .mall_box {
    background: url();
    text-align: center;
}

#section3 .logo_mall {
    transform: scale(2.5);
    margin: 80px 50px;
    
}
#section3 .btn {
    width: 350px;
    border: 2px solid #E83828;
    border-radius: 10px;
    padding: 15px 20px;
    transition: 0.3s;
    background: #fff;
}
#section3 .btn a {
    color: #E83828;
    font-size: 1.1rem;
    font-weight: 600;
}
#section3 .btn:hover {
background: #E83828;
}
#section3 .btn:hover a {
color: #fff;
}

