body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 60px;
  background: rgb(246, 246, 246);
}

main * {
  box-sizing: border-box;
  margin: 0;
}

main ul,
main li {
  padding: 0;
  list-style: none;
}

main .main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 1260px;
  padding-left: 10px;
  padding-right: 10px;
}

main .order-wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 40px;
}

main aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

main aside.right {
  width: 50%;
}

main .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 26px;
  width: 100%;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 0px #0000000d;
}

main .products {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

main .products .item {
  display: flex;
  gap: 16px;
}

main .products .img {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  overflow: hidden;
}

main .products .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

main .products .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .products .info .skeleton {
  min-width: 240px;
  height: 1em;
}

main .products .title {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

main .products .quantity {
  color: #787878;
}

main .products .price {
  color: #000;
}

main .field-group {
  display: flex;
  flex-direction: column;
}

main .field-group-col {
  display: flex;
  align-items: center;
}

main .field-group label {
  font-size: 18px;
  font-weight: 500;
}

main .field-group .form-input {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 1px solid #e7e7e7;
  background: #f5f5f5;
  font-size: 16px;
}

main .field-group .form-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  margin-top: 16px;
  margin-bottom: 16px;
  width: 20px;
  height: 20px;
  border: 2px solid #787878;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
main .field-group .form-radio:checked {
  border-color: #e83828;
}
main .field-group .form-radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #e83828;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

main .delivery_info_types {
  gap: 20px;
}

main .delivery_info_types li {
  gap: 6px;
}

main .info-field {
  display: flex;
  justify-content: space-between;
}

main .total-container .info-field {
  color: #787878;
  font-size: 18px;
}

main .total-container .info-field :last-of-type {
  color: #000;
}

main .total-container .info-field:last-of-type {
  color: #000;
}

main .total-container .info-field:last-of-type :last-of-type {
  color: #e83828;
  font-size: 20px;
  font-weight: 600;
}

main .total-container hr {
  color: #787878;
}

main button {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  border: 0;
  border-radius: 12px;
  background-color: #e83828;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

main .btn-order {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  main .main-wrapper {
    flex-direction: column;
  }
}
