@charset "UTF-8";
@import url(/assets/css/service/service_common.css);

#event {
    width: 1020px;
}

#event .main-tit{
    padding-bottom: 30px;
}

#event .qa-tit {
    padding-bottom: 30px;
    font-size: 20px;
}

#event .event-tit {
    padding: 20px 10px;
    border-top: 1px solid #000;
    background: #F7F7F7;
}

#event .event-txt {
    display: flex;
    flex-direction: column;
    min-height: 80vh;

}


#event .event-name {
    display: flex; 
    justify-content: space-between;                                
    padding: 15px 10px;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbb;
    align-items: flex-end;      
}
#event .event-name div{
    display: flex;
    gap: 20px;
}


#event .event-body {
    flex: 1;
    padding: 20px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #bbb;    
}

#event .event-img{
    margin: 20px 0;
       object-fit:contain;
    }
#event .event-img img{
    max-width: 100%;    /* 부모보다 가로가 크면 줄임 */
    max-height: 100%;   /* 부모보다 세로가 크면 줄임 */
    object-fit: contain; /* 비율 유지, 영역 안에 맞춤 */
}

#event .event-body p{
    font-size: 25px;
    line-height: 1.4;
}


#event .event-btn {
    margin-top: auto;
    align-self: flex-end;
    gap: 8px;
}

#event .event-btn button {
 
    background: #8a8a8a;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
}

#event .event-btn button:hover {
       background: #E83828;
    
}