@charset "UTF-8";
@import url(/assets/css/service/service_common.css);
/* reset */
body,
p,
h3,
h2,
h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#minho-faq .location-wrap {
  margin-bottom: 40px;
  border-bottom: 1px solid #e83828;
}

#minho-faq .location-con {
  width: 1260px;
  margin: 0 323px;
  padding: 20px 0;
  color: #787878;
}
#minho-faq .location-con a {
  color: #787878;
}


/* faq list-box */

#minho-faq .side-box-t {
  margin-bottom: 150px;
}

#minho-faq .side-box-menu {
  border-top: 2px solid #e83828;
  padding: 20px 10px 20px 0;
}

#minho-faq .side-box-menu li {
  margin-top: 15px;
  font-size: 14px;
}

#minho-faq .side-box-menu li a {
  color: #787878;
}

#minho-faq .side-box-menu li a:hover {
  color: #e83828;
}

#minho-faq .side-box-b div {
  margin-bottom: 50px;
  gap: 5px;
}

#minho-faq .side-info {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-top: 2px solid #e83828;
  color: #787878;
  font-size: 12px;
}

#minho-faq .side-box-b strong {
  color: #e83828;
  font-size: 15px;
}

/* faq .board-box */
#minho-faq .search-box {
  display: flex;
  width: 964px;
  border-radius: 10px;
  border: 2px solid #e83828;
  justify-content: space-around;
}

#minho-faq .search-left {
  display: inline-block;
  width: 674px;
  padding: 20px 10px;
  border-right: 1px dashed #e83828;
}
#minho-faq .search-left h2 {
  margin-bottom: 10px;
}

#minho-faq .search-left input {
  width: 471px;
  height: 31px;
  border-radius: 50px 0 0 50px;
  border: 1px solid #e83828;
  box-shadow: 3px 3px 0px #e83828;
  outline: none;
  color: #787878;
  font-weight: 500;
}

#minho-faq .search-left input:focus {
  border: 1px solid #e83828;
}

#minho-faq .search-left button {
  display: inline-block;
  border-radius: 0 50px 50px 0;
  border: 1px solid #e83828;
  box-shadow: 3px 3px 0px #e83828;
  background: #e83828;
  color: #fff;
  width: 100px;
  height: 37px;
}

#minho-faq .search-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 6px;
}
#minho-faq .search-right span {
  border: 1px solid #787878;
  border-radius: 5px;
  padding: 3px;
}
/* faq제목 */
#minho-faq .faq-tit {
  margin: 50px 0 40px;
}

/* faq 리스트 */
#minho-faq .faq-content-list {
  border-top: 1px solid #e83828;
  padding: 10px 0;
  margin-bottom: 30px;
}

#minho-faq .faq-content-list ul {
  display: flex;
  gap: 20px;
}
#minho-faq .faq-content-list ul li:hover a{
  color:#e83828;

}

#minho-faq .faq-content-list ul li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #b6b1b1;
  margin-left: 10px;
  vertical-align: middle;
}

#minho-faq .faq-table table {
  width: 1020px;
  margin-bottom: 40px;
  border-collapse: collapse;
  font-size: 14px;
}

#minho-faq .faq-table tr {
  border-top: 1px solid #787878;
  border-bottom: 1px solid #787878;
}

#minho-faq .faq-table thead {
  background: #d1d1d6;
}

#minho-faq .faq-table th {
  text-align: center;
}
#minho-faq .faq-table td {
  text-align: center;
}

#minho-faq .faq-table th,
#minho-faq .faq-table td {
  padding: 14px;
}

#minho-faq .faq-cell {
  width: 757px;
}
#minho-faq td.faq-cell {
  text-align: left;
}
#minho-faq td.faq-cell::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background: url("/assets/img/faq/icon_qna_q.png") no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

/* 페이지네이션 */
#minho-faq .service-pagination {
  display: flex;
  justify-content: center;
}
#minho-faq .service-pagination ul {
  display: flex;
  gap: 20px;
}
#minho-faq .service-pagination ul li {
  padding: 10px;
}
#minho-faq .service-pagination li a {
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #787878;
  font-size: 14px;
}

#minho-faq .service-pagination li.service-active a {
  background: #7a7d81;
  color: #fff;
  border-radius: 50%;
}
