@charset "UTF-8";
@import url(/assets/css/service/service_common.css);

.answer-box{
  width: 1020px;
  padding: 30px;
  border: 1px solid #adadad;
  box-sizing: border-box;
  background: #F8F8F8;
}
.answer-box .q-box{
    margin-bottom: 200px;
}

.answer-box img{
  width: 18px;
  height: 18px;
  margin-bottom: 20px;
}



