@charset "UTF-8";
@import url("service_common.css");

#minho-qa .service-container {
    gap: 100px;
}


#qa-main {
    width: 1020px;
}
/* 1:1 문의하기 제목 */
#qa-main .qa-tit {
    margin-bottom: 30px;
}

#qa-main .qa-table {
    border-top: 1px solid #000;
}

#qa-main .qa-table table {
    width: 100%;
    border-collapse: collapse;
}

#qa-main .qa-table table tr {
    border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;
}

#qa-main .qa-table table th,
td {
    padding: 10px;
}

#qa-main .qa-table table th {
    text-align: left;
    vertical-align: top;
    width: 15%;
}

#qa-main .qa-table table td {
    width: 85%;
}

#qa-main .qa-table table td select {
    padding: 10px;
}

#qa-main .qa-table table td input {
    padding: 10px;
    border: 1px solid #787878;
}

#qa-main .qa-table table textarea {
    border: 1px solid #787878;
    padding: 10px;
}




/* 이메일 */
#qa-main .qa-table .table-email input {
    margin-right: 5px;
}

/* 본문 */
#qa-main .qa-table .table-body p {
    color: #787878;
    margin-bottom: 10px;
}

#qa-main .qa-table .table-body textarea {
    width: 600px;
    height: 300px;
    resize: none;
}
/* 첨부파일 */

#qa-main .upload-box{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}
#qa-main .upload-box .file-btn{
    background:#979797;
    color:#fff;
    border: 1px solid #787878;
}


/* 자동등록 방지 */

#qa-main .qa-cha{
    display: flex;
    padding: 20px 20px 20px 0;
    gap: 20px;
}
#qa-main .qa-cha img{
    border: 1px solid #000;
}

#qa-main .cha-txt{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#qa-main .cha-txt button{
 width: 150px;
 background-image: url(/assets/img/service/icon_reset.png);
 background-repeat: no-repeat;
 background-position: 7%;
 border: 1px solid #787878;
}


/* 수집동의 */


#qa-main .qa-box-write textarea{
    width: 100%;
    height: 110px;
    padding: 10px;
    resize: none;
    line-height: 1.3;
}

#qa-main .qa-check-box{
    font-size: 12px;
    margin: 5px 0 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid #787878;
}
#qa-main .qa-check-box a{
    color:#787878;
    text-decoration: underline;
}


/* 이전 저장 버튼 */
#qa-main .qa-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#qa-main .qa-btn button{
    padding: 10px 30px;
    text-align: center;
    background: #E83828;
    border: 1px solid #787878;
    font-weight: bold;
    font-size: 16px;
}
#qa-main .qa-btn button a{
    color:#fff;
}
