@charset "UTF-8";
/* reset */

/* reset 기본 */
.minho * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.minho {
    font-size: 10px;
}

.minho body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
    color: #000;
    line-height: 1.4;
}


.minho h1,
.minho h2,
.minho h3,
.minho h4,
.minho h5,
.minho h6 {
    margin: 0;
    font-weight: normal;
    font-size: inherit;
    /* rem 기반 적용 */
}

.minho ul,
.minho ol {
    list-style: none;
}

.minho a {
    text-decoration: none;
    color: inherit;
}

.minho img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}


.minho-wrapper {
    margin: 0 192px;
}

.minho-wrapper .title {
    font-size: 44px;
    position: relative;
    padding-left: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
}

.minho-wrapper .title img {
    height: 58px;
    width: 58px;
}


.minho-wrapper .slide {
    display: flex;
    padding: 20px 0;
    gap: 10px;
}

/* 핫세일 부분 */
.minho-wrapper .sale {
    margin: 30px 0 120px 0;
}

.minho-wrapper .sale ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.minho-wrapper .sale p {
    font-size: 16px;
}

.minho-wrapper .sale img {
    width: 172px;
    height: 172px;
}

/* 추천 상품 */
.minho-wrapper .reco-inner {
    display: flex;
    justify-content: space-between;
}

/*추천 상품 ui카드  */
#card-ui {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.minho-wrapper .card-img {
    border: 1px solid #9b9696;
    border-radius: 20px;
    width: 303px;
    height: 360px;
    overflow: hidden;
}

.minho-wrapper .card-tit {
    font-size: 18px;
    margin: 20px 0;
}

.minho-wrapper .card-price {
    display: flex;
    align-items: center;
}

.minho-wrapper .card-price span {
    background: #E83828;
    color: #fff;
    border-radius: 7px;
    padding: 3px 6px 3px 5px;

}

.minho-wrapper .card-price strong {
    font-size: 18px;
    margin: 5px;
}

.minho-wrapper .card-price del {
    color: #3F3F3F;
}

.minho-wrapper .weight {
    margin-top: 5px;
    color: #B7B7B7;
}

.minho-wrapper .info-box {
    display: flex;
    flex-direction: column;
}
/* //카드ui */

.minho-wrapper .reco-left ul {
    justify-content: flex-start;
    margin-bottom: 100px;
}

.minho-wrapper .reco-left li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 6px 18px 6px 6px;
    box-sizing: border-box;
    margin: 10px 0;
}

.minho-wrapper .reco-left li img {
    width: 42px;
    height: 42px;
}

.minho-wrapper .ui-card {
    width: 1213px;
    height: 478px;
    background: yellow;
}

.minho-wrapper .btn {
    display: flex;
    gap: 10px;
}

.minho-wrapper .swipe-btn-pre {
    width: 58px;
    height: 58px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;

}

.minho-wrapper .swipe-btn-next {
    width: 58px;
    height: 58px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;

}

/* 선물세트 */
.minho-wrapper .gift {
    display: flex;
    gap: 20px;
    margin: 100px 0;
}

.minho-wrapper .gift-wrap {
    display: flex;
    justify-content: space-between;
}

.minho-wrapper .gift .title {
    justify-content: start;
    padding: 0;

}

.minho-wrapper .gift ul {
    display: flex;
    gap: 20px;
}

.minho-wrapper .gift li {
    border: 1px solid #000;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 18px 6px 6px;
    height: 36px;
}

.minho-wrapper .gift-ico {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.minho-wrapper .gift-ico img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transform: scale(0.7);
}

.minho-wrapper .gift-wrap p {
    font-size: 16px;
}

.minho-wrapper .gift-bottom .ui-card {
    width: 945px;
    height: 478px;
}

/* 선물세트 ui카드 */
.minho-wrapper #card-ui2{
    display: flex;
    gap: 10px;
}

/* 도드람 소식 */
.minho-wrapper .news {
    position: relative;
    background: #FFF3F1;

}

.minho-wrapper .news-title {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.minho-wrapper .news .title {
    padding: 0;
}

.minho-wrapper .news-btn-wrap {
    display: flex;
}

.minho-wrapper .news h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 20px;
}
.minho-wrapper .news-wrap h3 img {
  width: 48px;
  height: 48px;
}

.minho-wrapper .news-wrap {
    display: flex;
}

.minho-wrapper .news-left,
.minho-wrapper .news-left .news-right {
    border: 1px solid #000;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
}

.minho-wrapper .news-left iframe {
    width: 670px;
    height: 376px;
    border-radius: 30px;
}

.minho-wrapper .news-right {
    max-width: 750px;
    position: relative;
}

.minho-wrapper .news-right .btn {
    position: absolute;
    top: 40px;
    right: 30px;
    display: flex;
    gap: 8px;
}

.minho-wrapper .news-right-wrap {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.minho-wrapper .news-right iframe {
    width: 214px;
    height: 382px;
    border-radius: 30px;
}

/* qna 부분 */
.minho-wrapper .qna {
    display: grid;
    gap: 20px;
    margin-top: 200px;
}

.minho-wrapper .qna div:nth-of-type(1) {
    grid-column: 1 /span 3;
    grid-row: 1/ span 2;

}

.minho-wrapper .qna div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    height: 180px;
    border-radius: 20px;
    background: #E83828;
    grid-column: 4/ span 2;
    grid-row: 1/ span 1;
}

.minho-wrapper .qna div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    height: 180px;
    border-radius: 20px;
    background: #FFCF4B;
    grid-column: 4/ span 2;
    grid-row: 2/ span 1;

}

.minho-wrapper .qna div:nth-of-type(4) {
    grid-column: 1/ span 5;
    grid-row: 3/ span 1;
}

.minho-wrapper .qna p {
    padding-left: 20px;
}

.minho-wrapper .qna .tit {
    font-size: 32px;
    font-weight: 700;
}

.minho-wrapper .qna .txt {
    font-size: 20px;
    font-weight: 500;
}